language: node_js
node_js:
- 'stable'
sudo: false
dist: trusty
before_install:
- wget -O arduino.tgz https://downloads.arduino.cc/arduino-1.8.1-linux64.tar.xz
- tar -xf arduino.tgz
- mkdir -p arduino-1.8.1/hardware/esp8266com/
- git clone https://github.com/esp8266/Arduino.git arduino-1.8.1/hardware/esp8266com/esp8266
- cd arduino-1.8.1/hardware/esp8266com/esp8266/tools
- python2 get.py
- cd -
- git clone https://github.com/knolleary/pubsubclient.git PubSubClient
- mkdir -p arduino-1.8.1/hardware/energia/
- git clone https://github.com/energia/tivac-core.git arduino-1.8.1/hardware/energia/tivac
- cd arduino-1.8.1/hardware/energia/tivac && git checkout bd293ce50e17f3e410b316f0bbc85bad8d950934 ; cd -
- wget http://downloads.arduino.cc/gcc-arm-none-eabi-4.8.3-2014q1-linux64.tar.gz
- tar -xf gcc-arm-none-eabi-4.8.3-2014q1-linux64.tar.gz
- mkdir -p arduino-1.8.1/hardware/tools/arm-none-eabi-gcc
- mv gcc-arm-none-eabi-4.8.3-2014q1 arduino-1.8.1/hardware/tools/arm-none-eabi-gcc/4.8.3-2014q1
script:
- export ARDUINO=`pwd`/arduino-1.8.1
- npm run build
- npm run build-multiple
- npm run build-tiva
